# System language
lang en_US

# Language modules to install
langsupport en_US

# System keyboard
keyboard us

# System mouse
mouse

# System timezone
timezone America/New_York


#Root password
rootpw "$6$IQ7.Vn4TvR51BeMY$216vgt9Nbbe5MFxraqnryz/LWdR27EgkohbXWKzZQvpo5bvIoVNyp.fqCst326Qi1rTk.ZyCLa4cxmtQy/Iya0"


#Initial user
#user --disabled

# Initial user
preseed user-setup/allow-password-weak boolean true
user ubuntu --password "$6$IQ7.Vn4TvR51BeMY$216vgt9Nbbe5MFxraqnryz/LWdR27EgkohbXWKzZQvpo5bvIoVNyp.fqCst326Qi1rTk.ZyCLa4cxmtQy/Iya0"
